body 
{
    background-color: gold;
}

h2 
{
    font-size:30px;
    color:black;
    background-color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p 
{
    padding-top:10px;
    font-size:25px;
}

#show_sketch 
{
    float:right;
}
canvas 
{
    border:5px solid grey;
    border-radius:15px;
    animation-name: example;
    animation-duration:5s;
    animation-iteration-count: infinite;
    margin-top:50px;
}

@keyframes example 
{
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px white;}
}